
header {
    background-color: lightskyblue;
    box-sizing: content-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    font-family: "Lora", "Times New Roman", serif;
}
body {
    background-color: azure;
    display: inline-block;
    box-sizing: content-box;
    margin: 200px 20px auto auto;
    font-family: "Lora", "Times New Roman", serif;
}
nav {
    font-weight: 500;
    font-size: 20px;
    font-family: "Source Code pro", monospace;
}
nav ul li {
    display: inline;
    padding: 10px;
}
nav ul li a:hover {
    text-decoration: none;
}
nav ul li a:active {
    color: firebrick;
}
nav ul {
    text-align: center;
    margin: auto 353px;
    padding: 20px;
}
header h1 {
    text-align: center;
    margin: auto 380px;
    padding: 20px;
    font-size: 30px;
}
.section {
    text-align: center;
    box-sizing: content-box;
    display: block;
    margin: auto 20px;

}
p {
    font-size: 14px;
}
/* Colors */
#colors {
    text-align: match-parent;
    border-radius: 25px;
    background-color: lightpink;
    margin: auto;
    padding: 20px;
}
.colors {
    display: inline-block;
    text-align: center;
    box-sizing: content-box;
    width: 180px;
    height: 80px;
    padding: 20px;
    margin: auto;
    
}
.colors p { 
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    
}
.colors aside {
    
}
#lightskyblue {
    background-color: lightskyblue;
}
#azure {
    background-color: azure;
    border: solid 1px dimgray;
}
#dimgray {
    background-color: dimgray;
}
#black {
    background-color: black;
    color: white;
}
#firebrick {
    background-color: firebrick;
}
#deepskyblue {
    background-color: deepskyblue;
}
#mediumaquamarine {
    background-color: mediumaquamarine;
}
#lightpink {
    background-color: lightpink;
}
#plum {
    background-color: plum;
}

/* Fonts */
#fonts {
    text-align: center;
    border-radius: 25px;
    background-color: lightpink;
    margin: 50px auto auto auto;
    padding: 20px;
}
.lora {
    font-family: "Lora";
    display: inline-block;
    margin: auto;
    box-sizing: content-box;
    width: 360px;
    height: 150px;
    padding: 20px;
}
.times-new-roman {
    font-family: "Times New Roman";
    display: inline-block;
    margin: auto;
    box-sizing: content-box;
    width: 360px;
    height: 150px;
    padding: 20px;
}
.source-code-pro {
    font-family: "Source code pro";
    display: inline-block;
    margin: auto;
    box-sizing: content-box;
    width: 360px;
    height: 150px;
    padding: 20px;
}
.courier-new {
    font-family: 'Courier New';
    display: inline-block;
    margin: auto;
    box-sizing: content-box;
    width: 360px;
    height: 150px;
    padding: 20px;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}

/* Text styles */

#text-styles {
    text-align: match-parent;
    border-radius: 25px;
    background-color: lightpink;
    margin: 50px auto;
    padding: 20px;
    
}

#header, #paragraph, #navigation, #links, #table {
    margin: auto;
}
#header, #paragraph, #navigation, #links {
    border: dashed 1px black;
    display: block;
    box-sizing: content-box;
    width: 460px;
    height: 200px;
    padding: 20px;
}
#table {
    border: dashed 1px black;
    display: block;
    box-sizing: content-box;
    width: 460px;
    height: 350px;
    padding: 20px;
    margin-bottom: 40px;
}

/* Footer */

footer {
    background-color: dimgray;

}